@import "../../utilities.css";
@import "../modules/BubbleCard.css";

.bubblePageContainer {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding: 8% 0;
}

.bubblePageTitleContainer {
  position: relative;
  text-align: center;
  font-size: 48px;
  font-weight: bolder;
  margin: -10vh auto var(--m);
  /* margin-bottom: var(--m); */
  color: white;
  background-color: var(--sunflower);
  padding: var(--l) var(--m);
  border-radius: var(--l);
}

.bubbleListContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--mint-cream);
  margin: var(--m) var(--l);
  border: 8px var(--deepest-lilac);
  overflow: scroll;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
  position: absolute;
  padding: 50vh 0 0 0;
  margin: 0vh 0 200px 0;
  overflow: scroll;
}

/* FLOAT ANIMATION */
.floating {
  animation-name: floating;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0px, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
