@import "../../utilities.css";

.box {
  display: flex;
  flex-direction: column;
}

.boxHeader {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  color: var(--mint-cream);
}

.rowContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rowItem {
  height: 100%;
  margin: 10px;
}

.columnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.columnItem {
  order: 0 1;
  width: 100%;
  align-items: center;
  margin: var(--s) var(--l);
  padding: 0 0 60px 0;
  background-color: var(--dark-turq);
  border: 3px solid var(--dark-lilac);
  border-radius: 2%;
}

.edit-Avatar {
  border-radius: 50%;
}
