:root {
  --dark-turq: #7bdff2;
  --light-turq: #b2f7ef;
  --mint-cream: #eff7f6;
  --light-pink: #f7d6e0;
  --pink: #f2b5d4;
  --sunflower: #ffcd3c;
  --dark-lilac: #6892f0;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--mint-cream);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

.header {
  flex: 0 0 50px;
  width: 100%;
  background-color: #ff0000;
}

.rowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mint-cream);
}

.rowItem {
  height: 100%;
  margin: 10px;
  background-color: var(--dark-turq);
}

.columnContainer {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.columnItem {
  order: 0 1;
  width: 100%;
}
