@import "../../utilities.css";

.homeBackground {
  background-color: var(--dark-lilac);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8% 0;
}

.homeTitle {
  position: relative;
  text-align: center;
  font-size: 64px;
  font-weight: bolder;
  margin-top: 20vh;
  margin-bottom: var(--l);
  color: white;
  background-color: var(--sunflower);
  padding: var(--xs);
  border-radius: var(--l);
}

.homeContainer {
  position: relative;
  width: 500px;
  margin: 0 auto;
}

.homeTextContainer {
  position: relative;
  padding: 0 auto;
}
.homeText {
  font-family: "Dongle";
  font-style: italic;
  font-weight: 200;
  color: var(--mint-cream);
  text-align: center;
  font-size: 24px;
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  overflow: hidden;
  top: 0;
  left: 0;
}

.bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 50%;
  opacity: 0.5;
  animation: rise 20s infinite ease-in;
}

.bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  background: var(--light-pink);
  opacity: 0.7;
  animation-duration: 8s;
}
.bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  background: white;
  opacity: 0.7;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 35%;
  background: var(--light-turq);
  animation-duration: 7s;
  animation-delay: 2s;
}
.bubble:nth-child(4) {
  width: 80px;
  height: 80px;
  background: var(--pink);
  left: 50%;
  animation-duration: 11s;
  animation-delay: 0s;
}
.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 65%;
  animation-duration: 8s;
  animation-delay: 3s;
}
.bubble:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 2s;
}
.bubble:nth-child(8) {
  width: 25px;
  height: 25px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(10) {
  width: 90px;
  height: 90px;
  left: 25%;
  animation-duration: 10s;
  animation-delay: 4s;
}
@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }
  50% {
    transform: translate(100px);
  }
  100% {
    bottom: 1080px;
    transform: translateX(-200px);
  }
}
