@import "../../utilities.css";

.homeBackground {
  background-color: var(--dark-lilac);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8% 0;
}

.homeTitle {
  position: relative;
  text-align: center;
  font-size: 64px;
  font-weight: bolder;
  margin-top: 20vh;
  margin-bottom: var(--l);
  color: white;
  background-color: var(--sunflower);
  padding: var(--xs);
  border-radius: var(--l);
}

.homeContainer {
  position: relative;
  width: 500px;
  margin: 0 auto;
}

.homeTextContainer {
  position: relative;
  padding: 0 auto;
}
.homeText {
  font-family: "Dongle";
  font-style: italic;
  font-weight: 200;
  color: var(--mint-cream);
  text-align: center;
  font-size: 24px;
}
