@import "../../utilities.css";

.NavBar-container {
  padding: var(--s) var(--m);
  font-family: Roboto;
  background-color: var(--light-turq);
}

.NavBar-title {
  color: white;
  font-style: italic;
  font-weight: 800;
  text-shadow: -8px 8px 2px var(--deepest-lilac);
  font-size: 400%;
}

.NavBar-linkContainer {
  margin-left: var(--l);
  color: var(--deepest-lilac);
  font-size: 130%;
}

.NavBar-link,
.NavBar-link:visited {
  font-weight: 800;
  color: var(--deepest-lilac);
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
  font-weight: 200px;
  color: var(--dark-lilac);
}
