.NewPostInput-input,
.NewPostInput-button {
  font-family: "Dongle";
  font-weight: 800px;
  font-size: 24px;
  padding: var(--s) var(--m);
}

.NewPostInput-input {
  flex-grow: 1;
  border: var(--dark-lilac) 1px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  box-shadow: var(--light-pink);
  transition: box-shadow 0.1s;
}

.NewPostInput-input:focus-within {
  border-color: var(--dark-turq--dim);
  box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
}

.NewPostInput-button {
  color: white;
  border: var(--dark-lilac) 1px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  background-color: var(--pink);
  transition: color 0.1s, background 0.1s;
}

.NewPostInput-button:hover {
  color: var(--dark-lilac);
  background-color: var(--sunflower);
}

.imageInput {
  color: white;
}

input,
label {
  margin: 0.4rem 0;
  font-size: var(--m);
  font-family: "Dongle", sans-serif;
}
