@import "../../utilities.css";
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--mint-cream);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Dongle", sans-serif;
  font-weight: 800;
}

.header {
  flex: 0 0 50px;
  width: 100%;
  background-color: #ff0000;
}

.nameText {
  color: white;
  font-size: 64px;
  font-weight: bold;
  text-shadow: 4px 4px 2px var(--dark-lilac);
  margin: 0;
}

.sectionTitle {
  color: white;
  font-size: 48px;
  font-weight: bold;
  margin: var(--l);
  text-align: center;
}

.sectionTitle:nth-child(1) {
  margin: var(--l) auto 0 auto;
}

.rowContainer {
  display: flex;
  flex-direction: column; /* 
  align-items: center; */
  justify-content: space-between;
}

.rowItem {
  height: 100%;
  margin: var(--l);
}

.columnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.columnItem {
  order: 0 1;
  width: 100%;
}

.bubbleCounterContainer {
  position: relative;
  width: 20vmin;
  height: 20vmin;
  margin: 0 auto;
  background-color: var(--dark-lilac);
  border-radius: 50%;
  padding: var(--m);
  text-align: center;
  border: 12px solid var(--mint-cream);
  outline: 0.5rem solid var(--light-pink);
  outline-offset: 0.5rem;
}

.bubbleCounterText {
  position: relative;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--white);
  font-family: "Dongle", sans-serif;
  font-size: 64px;
}

/* POPUP */
/* Popup container */
.popup {
  position: relative;
  display: none;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: "Dongle", sans-serif;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Dropdown Button */
/* .dropbtn {
  background-color: var(--dark-lilac);
  color: white;
  padding: 16px;
  font-size: 42px;
  font-family: "Dongle";
  border: none;
  border-radius: var(--m)
} */

/* The container <div> - needed to position the dropdown content */
/* .dropdown {
  position: relative;
  display: inline-block;
} */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.dropdown-btn {
  font-family: "Dongle";
  font-weight: 800px;
  font-size: 24px;
  padding: var(--s) var(--m);
}

.dropdown-btn {
  color: white;
  /* border: var(--dark-lilac) 1px solid; */
  border-radius: 10%;
  background-color: var(--pink);
  transition: color 0.1s, background 0.1s;
}

.dropdown-btn:hover {
  /* color: var(--dark-lilac); */
  background-color: var(--sunflower);
}