@import "../../utilities.css";

.typeLabel {
  font-style: italic;
  font-size: 32px;
  font-weight: 800;
  color: white;
  padding: 0;
  text-shadow: 1px 1px var(--deepest-lilac);
}

.socialContainer {
  display: flex;
  flex-direction: row;
}
