.App-container {
  max-width: 100vw;
  padding: var(--m) var(--m);
  margin: 0 auto;
  position: absolute;
  align-items: center;
  align-content: center;
}

.navContainer {
  position: relative;
  width: 100vw;
  top: 0;
  z-index: 9;
}
